In [2]:
import MySQLdb
# 连接
conn=MySQLdb.connect(host='47.95.22.126',port=3306,user='root',passwd='dhuoj@124',db='IJCAI_18',charset='utf8')
# 获取操作游标
cursor=conn.cursor()

In [3]:
import pickle as pk
import pandas as pd

# START CODE HERE ###
train = open('../data/train01.pkl', 'rb')
train = pk.load(train)
train.head(6)
# train.dtypes
# END CODE HERE ###

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
5,7764762765372067286,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4003,5799347067982556520:9172976955054793469;871073...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

In [4]:
train = train.loc[train["context_timestamp"] < '2018-09-24 00:00:00']
train["context_timestamp"].tail()

420712   2018-09-23 19:10:13
420713   2018-09-23 20:11:32
420714   2018-09-23 21:08:40
420715   2018-09-23 17:29:03
420716   2018-09-23 20:55:38
Name: context_timestamp, dtype: datetime64[ns]

In [13]:
train1 = train.groupby(train['shop_id'])
train1_grp = train1.size()
train1_grp = train1_grp.astype('float32')
train1_grp.head(6)
print(len(train1_grp))
# train1_grp.dtypes
# type(train1_grp)

train_temp = train.loc[train["is_trade"] == '1']
train2 = train_temp.groupby(train_temp['shop_id'])
train2_grp = train2.size()
train2_grp = train2_grp.astype('float32')
print(len(train2_grp))
for k, v in train1_grp.items():
    if k in train2_grp.index:
        train1_grp[k] = train2_grp[k]/v
    else:
        train1_grp[k] = 0

count = 0
for k, v in train1_grp.items():
    if v == 0.0:
        count=count+1
print(count)
# len(train1_grp)
train1_grp.head(6)

3821
1424
2397

shop_id
1543559655939246     0.000000
6515295840140210     0.066667
9230153951388399     0.018519
10653466129289268    0.000000
12057125006548226    0.012500
13902855225429796    0.008130
dtype: float32

In [27]:
train3_grp = pd.DataFrame({'shop_id' : pd.Series(dtype='uint64'), 'purchase_rate' : pd.Series(dtype='float32')})
train3_grp['shop_id'] = train1_grp.index
train3_grp['purchase_rate'] = train1_grp.values
# 类型转换
# train3_grp["purchase_rate"] = train3_grp["purchase_rate"].astype('float32')
train3_grp.head(6)
# len(train3_grp)
# train3_grp.dtypes
# type(train3_grp)

   purchase_rate            shop_id
0       0.000000   1543559655939246
1       0.066667   6515295840140210
2       0.018519   9230153951388399
3       0.000000  10653466129289268
4       0.012500  12057125006548226
5       0.008130  13902855225429796

In [30]:
train3_grp.to_csv('../data/purchase_rate_1.csv', index=False)